<app-header></app-header>

 <!--breadcrumb section start-->
 <section class="breadcrumb-section position-relative z-2 overflow-hidden mt--75" data-background="../../assets/images/shapes/texture-bg.png">
    <img src="../../assets/images/shapes/tire-print-left.png" alt="tire print" class="position-absolute start-0 z-1 tire-print">
    <img src="../../assets/images/shapes/tire-print-right.png" alt="tire print" class="position-absolute end-0 z-1 tire-print">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="breadcrumb-content-wrapper text-center position-relative z-3">
                    <h1 class="text-white">Salesterm</h1>
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item text-white fw-500"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item text-white fw-500">Page</li>
                        <li class="breadcrumb-item text-white fw-500">Salesterm</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->
<section class="merge-section position-relative z-1 overflow-hidden">
    <img src="../../assets/images/shapes/net-shape.png" alt="net shape" class="position-absolute end-0 top-0 z--1">
    <img src="../../assets/images/shapes/net-left.png" alt="net shape" class="position-absolute start-0 bottom-0 z--1">
    <div class="faq-section pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="at-section-title text-center">
                        <span class="at-subtitle position-relative text-primary lead">FAQs</span>
                        <h2 class="h1 mb-0 mt-2">Frequently Ask Question</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="faq-tabs mt-5 brands-filter">
                        <ul class="nav nav-tabs border-0 justify-content-center">
                            <li><a href="#general" data-bs-toggle="tab" class="active"><span class="me-2"><i class="fa-solid fa-users"></i></span>General Questions</a></li>
                            <li><a href="#features" data-bs-toggle="tab"><span class="me-2"><i class="fa-solid fa-car-side"></i></span>Car Features</a></li>
                            <li><a href="#technical" data-bs-toggle="tab"><span class="me-2"><i class="fa-solid fa-screwdriver-wrench"></i></span>Technical Support</a></li>
                        </ul>
                        <div class="tab-content mt-60">
                            <div class="tab-pane fade show active" id="general">
                                <div class="row g-4">
                                    <div class="col-xl-6">
                                        <div class="accordion theme-accordion" id="accordion_1">
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#ac_1" class="accordion-button" data-bs-toggle="collapse">01 How long does it take to inspect your car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse show" id="ac_1" data-bs-parent="#accordion_1">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#ac_2" class="accordion-button collapsed" data-bs-toggle="collapse">02 Will dealers let you take car mechanic?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="ac_2" data-bs-parent="#accordion_1">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#ac_3" class="accordion-button collapsed" data-bs-toggle="collapse">03 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="ac_3" data-bs-parent="#accordion_1">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#ac_4" class="accordion-button collapsed" data-bs-toggle="collapse">04 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="ac_4" data-bs-parent="#accordion_1">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="accordion theme-accordion" id="accordion_2">
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#acc_1" class="accordion-button" data-bs-toggle="collapse">01 How long does it take to inspect your car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse show" id="acc_1" data-bs-parent="#accordion_2">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#acc_2" class="accordion-button collapsed" data-bs-toggle="collapse">02 Will dealers let you take car mechanic?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="acc_2" data-bs-parent="#accordion_2">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#acc_3" class="accordion-button collapsed" data-bs-toggle="collapse">03 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="acc_3" data-bs-parent="#accordion_2">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#acc_4" class="accordion-button collapsed" data-bs-toggle="collapse">04 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="acc_4" data-bs-parent="#accordion_2">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="features">
                                <div class="row g-4">
                                    <div class="col-xl-6">
                                        <div class="accordion theme-accordion" id="accordion_3">
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#accc_1" class="accordion-button" data-bs-toggle="collapse">01 How long does it take to inspect your car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse show" id="accc_1" data-bs-parent="#accordion_3">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#accc_2" class="accordion-button collapsed" data-bs-toggle="collapse">02 Will dealers let you take car mechanic?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="accc_2" data-bs-parent="#accordion_3">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#accc_3" class="accordion-button collapsed" data-bs-toggle="collapse">03 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="accc_3" data-bs-parent="#accordion_3">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#accc_4" class="accordion-button collapsed" data-bs-toggle="collapse">04 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="accc_4" data-bs-parent="#accordion_3">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="accordion theme-accordion" id="accordion_4">
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a4_1" class="accordion-button" data-bs-toggle="collapse">01 How long does it take to inspect your car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse show" id="a4_1" data-bs-parent="#accordion_4">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a4_2" class="accordion-button collapsed" data-bs-toggle="collapse">02 Will dealers let you take car mechanic?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a4_2" data-bs-parent="#accordion_4">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a4_3" class="accordion-button collapsed" data-bs-toggle="collapse">03 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a4_3" data-bs-parent="#accordion_4">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a4_4" class="accordion-button collapsed" data-bs-toggle="collapse">04 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a4_4" data-bs-parent="#accordion_4">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="technical">
                                <div class="row g-4">
                                    <div class="col-xl-6">
                                        <div class="accordion theme-accordion" id="accordion_5">
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a5_1" class="accordion-button" data-bs-toggle="collapse">01 How long does it take to inspect your car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse show" id="a5_1" data-bs-parent="#accordion_5">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a5_2" class="accordion-button collapsed" data-bs-toggle="collapse">02 Will dealers let you take car mechanic?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a5_2" data-bs-parent="#accordion_5">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a5_3" class="accordion-button collapsed" data-bs-toggle="collapse">03 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a5_3" data-bs-parent="#accordion_5">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a5_4" class="accordion-button collapsed" data-bs-toggle="collapse">04 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a5_4" data-bs-parent="#accordion_5">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="accordion theme-accordion" id="accordion_6">
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a6_1" class="accordion-button" data-bs-toggle="collapse">01 How long does it take to inspect your car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse show" id="a6_1" data-bs-parent="#accordion_6">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a6_2" class="accordion-button collapsed" data-bs-toggle="collapse">02 Will dealers let you take car mechanic?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a6_2" data-bs-parent="#accordion_6">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a6_3" class="accordion-button collapsed" data-bs-toggle="collapse">03 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a6_3" data-bs-parent="#accordion_6">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-header">
                                                    <a href="#a6_4" class="accordion-button collapsed" data-bs-toggle="collapse">04 How long does it take a mechanic to inspect a used car?</a>
                                                </div>
                                                <div class="accordion-collapse collapse" id="a6_4" data-bs-parent="#accordion_6">
                                                    <div class="accordion-body">
                                                        <p>Dynamically reintermediate virtual functionalities for bandwidth. Uniquely expedite cooperative strategic theme areas and sticky e-markets. Holisticly synergize alternative metrics for multifunctional outsourcing without ubiquitous total linkage.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-5">
                            <a href="contact.html" class="btn btn-secondary"><span class="me-2"><i class="flaticon-chat"></i></span>Make a Question</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="apps-section">
        <div class="container">
            <div class="apps-content-wrapper position-relative z-1 overflow-hidden rounded">
                <img src="../../assets/images/shapes/apps-bg-shape.png" alt="not found" class="position-absolute z--1 end-0 top-0">
                <div class="row">
                    <div class="col-xxl-5 col-xl-6">
                        <div class="apps-left">
                            <h2 class="h1 mb-3">Autohive User Friendly App Available</h2>
                            <p class="mb-0">Appropriately monetize one-to-one interfaces rather than cutting-edge Competently disinte rmediate backward.</p>
                            <div class="apps-btn-group mt-40 d-flex align-items-center flex-wrap">
                                <a href="#" class="app-btn primary-btn d-inline-flex align-items-center">
                                    <span class="icon-wrapper me-2"><i class="fa-brands fa-google-play"></i></span>
                                    <div class="app-btn-content">
                                        <span>Get it on</span>
                                        <strong>Google Play</strong>
                                    </div>
                                </a>
                                <a href="#" class="app-btn white-btn d-inline-flex align-items-center">
                                    <span class="icon-wrapper me-2"><i class="fa-brands fa-apple"></i></span>
                                    <div class="app-btn-content">
                                        <span>Get it on</span>
                                        <strong>App Store</strong>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-6 align-self-end">
                        <div class="apps-right position-relative z-1 mt-60 mt-xl-0">
                            <button class="bg-white wallet-btn shadow rounded-circle text-primary position-absolute"><i class="fa-solid fa-wallet"></i></button>
                            <button class="bg-white heart-btn shadow rounded-circle text-primary position-absolute"><i class="fa-solid fa-heart"></i></button>
                            <div class="download-countdown d-inline-flex align-items-center rounded bg-white shadow position-absolute">
                                <img src="../../assets/images/home1/author-1.png" alt="author" class="rounded-cricle flex-shrink-0">
                                <div class="download-countdown-content ms-3">
                                    <span>Download App</span>
                                    <h5 class="mb-0"><span>14.5</span><span>k+</span></h5>
                                </div>
                            </div>
                            <img src="../../assets/images/home1/apps-bg.png" alt="car" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
